{% extends 'accounts/layout.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% if object_list %}
    <table>
      <tr>
        <th>Bank name</th>
        <th>Is active</th>
      </tr>
      <!--Loop through credential_list-->
      {% for object in object_list %}
      <tr>
        <td><a href="{% url 'accounts:credentials-update' object.id %}">{{ object.bank }}</a></td>
        <td>
          {% if object.active %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No credentials are available.</p>
  {% endif %}
  <p><a href="{% url 'accounts:credentials-create' %}">Create new</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}